* {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

i {
    font-family: fontawesome, sans-serif !important;
}

.text-justify {
    text-align: justify !important;
}